[Unit]
Description=Stay on GPIO26
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/gpio26-on

[Install]
WantedBy=local-fs-pre.target
